In [1]:
import numpy as np
import pandas as pd
#import fiona 
#import math
import xarray as xa
#import matplotlib.pyplot as plt
#%matplotlib inline
#from matplotlib import cm
#from matplotlib.colors import ListedColormap, LinearSegmentedColormap
import datetime
import random
#from scipy.interpolate import interp1d
import geopandas as gpd

# Change the path from paramdb_markstro to paramdb_master when the jh_coef_hru values are actually computed from the real temperature data

In [16]:
#radadj_fn = 'c:/Users/markstro/work1.1/soltab/dday_slope_radadj_GF_v1.1.csv'
#radadj_solf_fn = 'c:/Users/markstro/work1.1/soltab/dday_slope_radadj_solf_GF_v1.1.csv'
#pptadj_fn = 'c:/Users/markstro/work1.1/soltab/dday_slope_pptadj_GF_v1.1.csv'
gdb_path = 'c:/Users/markstro/work1.1/GIS/GFv1.1_v2e.gdb'

markstro_param_path = "c:/Users/markstro/work1.1/paramdb_v1.1/paramdb_markstro/"
path = 'c:/Users/markstro/work1.1/weather/'
farns_v11_path = 'c:/Users/markstro/work1.1/GIS/farns_gf_1_1_mm_per_month.shp'
jh_coef_hru_fn = 'c:/Users/markstro/work1.1/paramdb_v1.1/paramdb_markstro/jh_coef_hru.csv'
nrel_shapefile_fn = "c:/Users/markstro/work1.1/GIS/nhm_shapefiles/nhm_hru_gf1_1_nrel_solrad.shp"

In [3]:
#fns = [("2011", "2011_gm_climate_2020_03_02.nc"), ("2012", "2012_gm_climate_2020_03_03.nc"),
#       ("2013", "2013_gm_climate_2020_03_05.nc"), ("2014", "2014_gm_climate_2020_03_06.nc"),
#       ("2015", "2015_gm_climate_2020_03_08.nc"), ("2016", "2016_gm_climate_2020_03_09.nc"),
#       ("2017", "2017_gm_climate_2020_03_10.nc"), ("2018", "2018_gm_climate_2020_03_12.nc")]

fns = [("2015", "2015_gm_climate_2020_03_08.nc")]

In [4]:
# Read the v11 Farnsworth shapefile
# The PET values (cols jan - dec) are in units of mm / month
farns_v11 = gpd.read_file(farns_v11_path)

In [5]:
farns_v11.head()

,nhru_v11,nhm_id_v10,dist,Unnamed_ 0,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,geometry
0,76127,76128,1.148310,76127,49.945515,60.029290,91.94805,122.314926,158.02434,172.70332,181.95477,167.50844,134.82234,104.785355,70.874160,53.167057,"POLYGON ((-105544.567 804074.976, -105542.972 ..."
1,76147,76148,4.135990,76147,50.172657,60.212677,92.15552,122.602650,158.38263,173.02405,182.35974,167.88830,135.17688,105.129745,71.116910,53.408350,"POLYGON ((-97185.217 806355.005, -97184.805 80..."
2,76170,76171,3.466319,76170,48.300198,58.800156,91.40010,122.800026,159.49995,174.69990,184.19990,169.39993,135.90000,104.900085,70.000145,51.700195,"MULTIPOLYGON (((-106590.453 815804.909, -10646..."
3,76172,76173,2.518344,76172,50.242560,60.354050,92.60870,123.404350,159.62950,174.57050,184.11366,169.57266,136.54752,106.108700,71.683556,53.642563,"POLYGON ((-106762.641 815925.020, -106754.831 ..."
4,76181,76182,3.864358,76181,51.480717,61.344570,93.39392,123.848880,159.81587,174.62144,184.20695,169.84592,137.07890,106.982970,72.801120,54.910404,"POLYGON ((-109785.311 816675.047, -109784.942 ..."

In [6]:
farns_v11.tail()

,nhru_v11,nhm_id_v10,dist,Unnamed_ 0,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,geometry
114953,57964,57965,72.050651,57964,4.287964,17.662860,49.587770,85.91264,125.675050,145.599980,156.34999,141.46255,106.737670,71.025300,33.150390,9.825459,"MULTIPOLYGON (((-294975.252 2728035.068, -2950..."
114954,64080,64081,22.302546,64080,0.000000,6.210107,33.820175,67.23024,103.830220,123.575180,134.55504,122.38992,91.679855,58.969795,23.969807,1.179889,"POLYGON ((-1284185.000 2658495.000, -1284185.0..."
114955,64150,64151,1.124793,64150,0.000000,9.088320,36.233490,68.61729,104.197920,123.148346,133.77536,121.82024,91.866630,60.176285,26.038994,4.148405,"POLYGON ((-1347645.097 2651834.819, -1347614.8..."
114956,65633,65634,2.190821,65633,9.794936,20.508738,50.327328,85.22777,124.662056,145.593460,158.36440,146.10867,113.456410,79.473755,41.462563,17.411674,"POLYGON ((-1017435.000 2869395.054, -1017435.0..."
114957,18843,18842,2518.518508,18841,17.100000,25.400000,45.900000,66.50000,89.200000,98.700000,103.50000,93.30000,71.800000,51.400000,30.000000,18.400000,"POLYGON ((437685.115 2806784.914, 437685.231 2..."

In [26]:
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [28]:
# Extract the PET values and convert from mm/month to inches/month

farns_vals = farns_v11[['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']].values

for imon in range(nmonth):
    farns_vals[:,imon] = farns_vals[:,imon] / 25.4 / days_in_month[imon]
    
print(farns_vals)
print(farns_vals.shape)
nhru = farns_vals.shape[0]
nmonth = farns_vals.shape[1]
print(nhru, nmonth)

[[0.06343093 0.08440564 0.11677426 ... 0.13307767 0.09301071 0.0675223 ]
 [0.0637194  0.08466349 0.11703774 ... 0.13351504 0.09332928 0.06782874]
 [0.06134137 0.08267738 0.11607836 ... 0.13322337 0.09186371 0.06565938]
 ...
 [0.         0.01277885 0.04601662 ... 0.07642403 0.03417191 0.00526848]
 [0.01243959 0.02883681 0.06391583 ... 0.10093187 0.05441281 0.02211287]
 [0.02171704 0.03571429 0.05829312 ... 0.06527813 0.03937008 0.02336805]]
(114958, 12)
114958 12

In [29]:
# Extract the Farnsworth v11 HRU order
farns_nhru_v11 = farns_v11['nhru_v11'].values
print(farns_nhru_v11)

[76127 76147 76170 ... 64150 65633 18843]

In [30]:
# read the jh_coef_hru parameters

# read the jh_coef_hru values from the csv file produced by jh_coef_hru.ipynb
jh_coef_hru = pd.read_csv(jh_coef_hru_fn)
jh_coef_hru.head()

   $id  jh_coef_hru
0    1     8.666409
1    2    17.340042
2    3     1.827372
3    4    21.176576
4    5     8.729901

In [31]:
jh_coef_hru_vals = jh_coef_hru['jh_coef_hru']
jh_coef_hru_idx = jh_coef_hru['$id']

# Need to read the ncf files for actual tmin values

In [32]:
#prcp = xa.Dataset()

#ds = xa.open_dataset(path + "2015_gm_climate_2020_03_08.nc")
#tmin = ds["tmin"]

#dates = [datetime.datetime(2015, 1, 1), datetime.datetime(2015, 1, 2), datetime.datetime(2015, 1, 3),
#         datetime.datetime(2015, 1, 4)]
#ndays = len(dates)

date1 = '2015-01-01'
date2 = '2015-12-31'
dates = pd.date_range(date1, date2).tolist()
ndays = len(dates)

foo = np.random.random_sample(((nhru*ndays),))
foo = foo * 40.0
foo.shape = (ndays, nhru)

tminf = foo
print(tminf)

[[23.00508066 26.01372607 18.74471481 ... 37.82899518 21.75229858
  35.96726127]
 [15.58833421  0.26833266 14.01933189 ... 10.99698645 11.39452803
  35.24175535]
 [ 1.08278957 29.2045061  25.04572407 ...  5.22119758  5.17082498
  34.47123765]
 ...
 [20.31691027 17.85156596  2.64800504 ... 16.14776067 39.53411974
  18.87186614]
 [33.16463727 29.91575093 20.61875039 ... 16.98580368  8.40948267
  15.88833358]
 [14.60697016 36.77531173 39.22303051 ... 33.1903624  18.95929547
  21.02946196]]

In [33]:
foo = np.random.random_sample(((nhru*ndays),))
foo = foo * 10.0
foo.shape = (ndays, nhru)

tmaxf = tminf + foo
print(tmaxf)
print(tmaxf.shape)

[[25.93217233 30.44955227 26.8972261  ... 44.49229132 31.46762563
  43.51058494]
 [22.25263001  3.40727486 22.91158856 ... 13.82028425 18.99597326
  36.75155772]
 [ 5.89512019 32.51677607 30.36152446 ... 10.6130623   6.82807524
  36.51508649]
 ...
 [27.88409094 21.10615456  6.02293091 ... 18.03256702 40.85789832
  18.90754715]
 [41.25464489 35.78552006 26.54540078 ... 26.634075   10.40594503
  18.1380528 ]
 [15.72706511 44.25252812 39.94736553 ... 36.31824879 19.20785624
  29.9248956 ]]
(365, 114958)

In [34]:
tavgf = (tmaxf + tminf) / 2.0
print(tavgf)
print(tavgf.shape)

[[24.4686265  28.23163917 22.82097045 ... 41.16064325 26.6099621
  39.73892311]
 [18.92048211  1.83780376 18.46546022 ... 12.40863535 15.19525064
  35.99665653]
 [ 3.48895488 30.86064108 27.70362427 ...  7.91712994  5.99945011
  35.49316207]
 ...
 [24.10050061 19.47886026  4.33546797 ... 17.09016384 40.19600903
  18.88970664]
 [37.20964108 32.85063549 23.58207559 ... 21.80993934  9.40771385
  17.01319319]
 [15.16701763 40.51391992 39.58519802 ... 34.75430559 19.08357586
  25.47717878]]
(365, 114958)

In [35]:
#(32°F − 32) × 5/9 = 0°C

tavgc = (tavgf - 32.0) * 5.0 / 9.0
print(tavgc)
print(tavgc.shape)

[[ -4.18409639  -2.0935338   -5.09946086 ...   5.08924625  -2.9944655
    4.29940173]
 [ -7.26639883 -16.75677569  -7.51918876 ... -10.88409147  -9.33597187
    2.22036474]
 [-15.83946951  -0.63297718  -2.38687541 ... -13.37937226 -14.44474994
    1.9406456 ]
 ...
 [ -4.38861077  -6.95618875 -15.36918446 ...  -8.28324231   4.55333835
   -7.28349631]
 [  2.89424504   0.47257527  -4.67662467 ...  -5.66114481 -12.55127008
   -8.32600379]
 [ -9.35165687   4.72995551   4.2139989  ...   1.53016977  -7.17579119
   -3.62378956]]
(365, 114958)

In [36]:

# Read in the monthly short wave data from NREL. It's in the shapefile that was created by running zonal means
# on the monthly DNI geotifs downloaded from NREL.

nrel_solrad = gpd.read_file(nrel_shapefile_fn)

In [37]:
# Extract the NREL monthly solrad targets from the dataframe into a numpy 2D array for the radadj calculation below.

solrad_targets_vals= nrel_solrad[["dni_jan_me", "dni_feb_me", "dni_mar_me", "dni_apr_me", "dni_may_me", "dni_jun_me",
                    "dni_jul_me", "dni_aug_me", "dni_sep_me", "dni_oct_me", "dni_nov_me", "dni_dec_me"]].values
print(solrad_targets_vals)

[[182.20148911 183.51872029 191.96332414 ... 229.74948359 196.08214547
  166.2665358 ]
 [182.0873538  182.82732109 190.77398132 ... 227.66198595 193.96723928
  164.80365733]
 [183.55624823 184.54553207 191.84952426 ... 228.18403367 194.83623904
  165.23211128]
 ...
 [100.20052231 130.79780146 165.89017402 ... 176.22581824 124.65252498
   94.91159392]
 [106.98863186 148.58928652 178.98350311 ... 177.62528297 130.36114766
  109.73921902]
 [128.07736674 176.15929126 217.490094   ... 137.29780348  98.5662098
  104.56964488]]

In [38]:
# The NREL solrad values are in units of kWh/m2/Day. PRMS uses Langleys per day. The conversion factor comes from
# https://www.wcc.nrcs.usda.gov/ftpref/wntsc/H&H/GEM/SolarRadConversion.pdf

#                    W-sec    1 KW     1 hour               KW-hours
# 1 Langley = 41868 -------  ------   -------  =   0.6978  ---------
#                     m2     1000 W   60 sec                  m2

solrad_targets_vals_langleys = solrad_targets_vals / 0.6978
print(solrad_targets_vals_langleys)
print(solrad_targets_vals_langleys.shape)

[[261.10846819 262.99615978 275.09791364 ... 329.24832844 281.00049508
  238.27247893]
 [260.9449037  262.0053326  273.39349574 ... 326.25678697 277.96967509
  236.17606381]
 [263.04994014 264.46765845 274.93482984 ... 327.00492071 279.21501725
  236.79007062]
 ...
 [143.59490156 187.443109   237.73312414 ... 252.5448814  178.63646457
  136.0154685 ]
 [153.32277424 212.93964822 256.49685169 ... 254.55041984 186.81735119
  157.26457297]
 [183.54452098 252.44954322 311.67969905 ... 196.75810186 141.25280853
  149.85618355]]
(114958, 12)

# In the line

# jh_coef_by_day[ihru, iday] = farns_vals[ihru, imon] / (tavgf[iday,ihru] - jh_coef_hru_vals[ihru])

# anywhere the ihru index is used, it must still be mapped!!

In [39]:
# DO j = 1, Active_hrus
#          elh = (597.3-(0.5653*Tavgc(i)))*2.54
#          Potet(i) = Jh_coef(i, Nowmonth)*(Tavgf(i)-Jh_coef_hru(i))*Swrad(i)/elh
#          IF ( Potet(i)<0.0) Potet(i) = 0.0
#
# so
#          elh = (597.3-(0.5653*Tavgc(iday,ihru)))*2.54
#          Jh_coef(ihru, imon) = farns(ihru, imon) / ((Tavgf(iday,ihru)-Jh_coef_hru(ihru)) * Swrad(imon,ihru) / elh)

jh_coef_by_day = np.zeros(nhru * ndays)
jh_coef_by_day.shape = (nhru, ndays)

jh_coef = np.zeros(nhru * nmonth)
jh_coef.shape = (nhru, nmonth)

month_count = np.zeros(nmonth)

iday = 0
for date in dates:
    imon = date.month - 1
    jday = date.day - 1
    print(date, imon, jday, iday)
    for ihru in range(nhru):
        elh = (597.3 - (0.5653 * tavgc[iday, ihru])) * 2.54
        jh_coef_by_day[ihru, iday] = farns_vals[ihru, imon] / ((tavgf[iday,ihru] - jh_coef_hru_vals[ihru]) \
                                                               * solrad_targets_vals_langleys[ihru,imon] / elh)
        
    iday += 1

iday = 0
for date in dates:
    imon = date.month - 1
    jday = date.day - 1
    for ihru in range(nhru):
        jh_coef[ihru, imon] += jh_coef_by_day[ihru, iday]
        month_count[imon] += 1
    iday += 1

for imon in range(nmonth):
    jh_coef[:,imon] = jh_coef[:,imon] / month_count[imon]

print(jh_coef)

2015-01-01 00:00:00 0 0 0
2015-01-02 00:00:00 0 1 1
2015-01-03 00:00:00 0 2 2
2015-01-04 00:00:00 0 3 3
2015-01-05 00:00:00 0 4 4
2015-01-06 00:00:00 0 5 5
2015-01-07 00:00:00 0 6 6
2015-01-08 00:00:00 0 7 7
2015-01-09 00:00:00 0 8 8
2015-01-10 00:00:00 0 9 9
2015-01-11 00:00:00 0 10 10
2015-01-12 00:00:00 0 11 11
2015-01-13 00:00:00 0 12 12
2015-01-14 00:00:00 0 13 13
2015-01-15 00:00:00 0 14 14
2015-01-16 00:00:00 0 15 15
2015-01-17 00:00:00 0 16 16
2015-01-18 00:00:00 0 17 17
2015-01-19 00:00:00 0 18 18
2015-01-20 00:00:00 0 19 19
2015-01-21 00:00:00 0 20 20
2015-01-22 00:00:00 0 21 21
2015-01-23 00:00:00 0 22 22
2015-01-24 00:00:00 0 23 23
2015-01-25 00:00:00 0 24 24
2015-01-26 00:00:00 0 25 25
2015-01-27 00:00:00 0 26 26
2015-01-28 00:00:00 0 27 27
2015-01-29 00:00:00 0 28 28
2015-01-30 00:00:00 0 29 29
2015-01-31 00:00:00 0 30 30
2015-02-01 00:00:00 1 0 31
2015-02-02 00:00:00 1 1 32
2015-02-03 00:00:00 1 2 33
2015-02-04 00:00:00 1 3 34
2015-02-05 00:00:00 1 4 35
2015-02-06 00:00:00 1 5 36
2015-02-07 00:00:00 1 6 37
2015-02-08 00:00:00 1 7 38
2015-02-09 00:00:00 1 8 39
2015-02-10 00:00:00 1 9 40
2015-02-11 00:00:00 1 10 41
2015-02-12 00:00:00 1 11 42
2015-02-13 00:00:00 1 12 43
2015-02-14 00:00:00 1 13 44
2015-02-15 00:00:00 1 14 45
2015-02-16 00:00:00 1 15 46
2015-02-17 00:00:00 1 16 47
2015-02-18 00:00:00 1 17 48
2015-02-19 00:00:00 1 18 49
2015-02-20 00:00:00 1 19 50
2015-02-21 00:00:00 1 20 51
2015-02-22 00:00:00 1 21 52
2015-02-23 00:00:00 1 22 53
2015-02-24 00:00:00 1 23 54
2015-02-25 00:00:00 1 24 55
2015-02-26 00:00:00 1 25 56
2015-02-27 00:00:00 1 26 57
2015-02-28 00:00:00 1 27 58
2015-03-01 00:00:00 2 0 59
2015-03-02 00:00:00 2 1 60
2015-03-03 00:00:00 2 2 61
2015-03-04 00:00:00 2 3 62
2015-03-05 00:00:00 2 4 63
2015-03-06 00:00:00 2 5 64
2015-03-07 00:00:00 2 6 65
2015-03-08 00:00:00 2 7 66
2015-03-09 00:00:00 2 8 67
2015-03-10 00:00:00 2 9 68
2015-03-11 00:00:00 2 10 69
2015-03-12 00:00:00 2 11 70
2015-03-13 00:00:00 2 12 71
2015-03-14 00:00:00 2 13 72
2015-03-15 00:00:00 2 14 73
2015-03-16 00:00:00 2 15 74
2015-03-17 00:00:00 2 16 75
2015-03-18 00:00:00 2 17 76
2015-03-19 00:00:00 2 18 77
2015-03-20 00:00:00 2 19 78
2015-03-21 00:00:00 2 20 79
2015-03-22 00:00:00 2 21 80
2015-03-23 00:00:00 2 22 81
2015-03-24 00:00:00 2 23 82
2015-03-25 00:00:00 2 24 83
2015-03-26 00:00:00 2 25 84
2015-03-27 00:00:00 2 26 85
2015-03-28 00:00:00 2 27 86
2015-03-29 00:00:00 2 28 87
2015-03-30 00:00:00 2 29 88
2015-03-31 00:00:00 2 30 89
2015-04-01 00:00:00 3 0 90
2015-04-02 00:00:00 3 1 91
2015-04-03 00:00:00 3 2 92
2015-04-04 00:00:00 3 3 93
2015-04-05 00:00:00 3 4 94
2015-04-06 00:00:00 3 5 95
2015-04-07 00:00:00 3 6 96
2015-04-08 00:00:00 3 7 97
2015-04-09 00:00:00 3 8 98
2015-04-10 00:00:00 3 9 99
2015-04-11 00:00:00 3 10 100
2015-04-12 00:00:00 3 11 101
2015-04-13 00:00:00 3 12 102
2015-04-14 00:00:00 3 13 103
2015-04-15 00:00:00 3 14 104
2015-04-16 00:00:00 3 15 105
2015-04-17 00:00:00 3 16 106
2015-04-18 00:00:00 3 17 107
2015-04-19 00:00:00 3 18 108
2015-04-20 00:00:00 3 19 109
2015-04-21 00:00:00 3 20 110
2015-04-22 00:00:00 3 21 111
2015-04-23 00:00:00 3 22 112
2015-04-24 00:00:00 3 23 113
2015-04-25 00:00:00 3 24 114
2015-04-26 00:00:00 3 25 115
2015-04-27 00:00:00 3 26 116
2015-04-28 00:00:00 3 27 117
2015-04-29 00:00:00 3 28 118
2015-04-30 00:00:00 3 29 119
2015-05-01 00:00:00 4 0 120
2015-05-02 00:00:00 4 1 121
2015-05-03 00:00:00 4 2 122
2015-05-04 00:00:00 4 3 123
2015-05-05 00:00:00 4 4 124
2015-05-06 00:00:00 4 5 125
2015-05-07 00:00:00 4 6 126
2015-05-08 00:00:00 4 7 127
2015-05-09 00:00:00 4 8 128
2015-05-10 00:00:00 4 9 129
2015-05-11 00:00:00 4 10 130
2015-05-12 00:00:00 4 11 131
2015-05-13 00:00:00 4 12 132
2015-05-14 00:00:00 4 13 133
2015-05-15 00:00:00 4 14 134
2015-05-16 00:00:00 4 15 135
2015-05-17 00:00:00 4 16 136
2015-05-18 00:00:00 4 17 137
2015-05-19 00:00:00 4 18 138
2015-05-20 00:00:00 4 19 139
2015-05-21 00:00:00 4 20 140
2015-05-22 00:00:00 4 21 141
2015-05-23 00:00:00 4 22 142
2015-05-24 00:00:00 4 23 143
2015-05-25 00:00:00 4 24 144
2015-05-26 00:00:00 4 25 145
2015-05-27 00:00:00 4 26 146
2015-05-28 00:00:00 4 27 147
2015-05-29 00:00:00 4 28 148
2015-05-30 00:00:00 4 29 149
2015-05-31 00:00:00 4 30 150
2015-06-01 00:00:00 5 0 151
2015-06-02 00:00:00 5 1 152
2015-06-03 00:00:00 5 2 153
2015-06-04 00:00:00 5 3 154
2015-06-05 00:00:00 5 4 155
2015-06-06 00:00:00 5 5 156
2015-06-07 00:00:00 5 6 157
2015-06-08 00:00:00 5 7 158
2015-06-09 00:00:00 5 8 159
2015-06-10 00:00:00 5 9 160
2015-06-11 00:00:00 5 10 161
2015-06-12 00:00:00 5 11 162
2015-06-13 00:00:00 5 12 163
2015-06-14 00:00:00 5 13 164
2015-06-15 00:00:00 5 14 165
2015-06-16 00:00:00 5 15 166
2015-06-17 00:00:00 5 16 167
2015-06-18 00:00:00 5 17 168
2015-06-19 00:00:00 5 18 169
2015-06-20 00:00:00 5 19 170
2015-06-21 00:00:00 5 20 171
2015-06-22 00:00:00 5 21 172
2015-06-23 00:00:00 5 22 173
2015-06-24 00:00:00 5 23 174
2015-06-25 00:00:00 5 24 175
2015-06-26 00:00:00 5 25 176
2015-06-27 00:00:00 5 26 177
2015-06-28 00:00:00 5 27 178
2015-06-29 00:00:00 5 28 179
2015-06-30 00:00:00 5 29 180
2015-07-01 00:00:00 6 0 181
2015-07-02 00:00:00 6 1 182
2015-07-03 00:00:00 6 2 183
2015-07-04 00:00:00 6 3 184
2015-07-05 00:00:00 6 4 185
2015-07-06 00:00:00 6 5 186
2015-07-07 00:00:00 6 6 187
2015-07-08 00:00:00 6 7 188
2015-07-09 00:00:00 6 8 189
2015-07-10 00:00:00 6 9 190
2015-07-11 00:00:00 6 10 191
2015-07-12 00:00:00 6 11 192
2015-07-13 00:00:00 6 12 193
2015-07-14 00:00:00 6 13 194
2015-07-15 00:00:00 6 14 195
2015-07-16 00:00:00 6 15 196
2015-07-17 00:00:00 6 16 197
2015-07-18 00:00:00 6 17 198
2015-07-19 00:00:00 6 18 199
2015-07-20 00:00:00 6 19 200
2015-07-21 00:00:00 6 20 201
2015-07-22 00:00:00 6 21 202
2015-07-23 00:00:00 6 22 203
2015-07-24 00:00:00 6 23 204
2015-07-25 00:00:00 6 24 205
2015-07-26 00:00:00 6 25 206
2015-07-27 00:00:00 6 26 207
2015-07-28 00:00:00 6 27 208
2015-07-29 00:00:00 6 28 209
2015-07-30 00:00:00 6 29 210
2015-07-31 00:00:00 6 30 211
2015-08-01 00:00:00 7 0 212
2015-08-02 00:00:00 7 1 213
2015-08-03 00:00:00 7 2 214
2015-08-04 00:00:00 7 3 215
2015-08-05 00:00:00 7 4 216
2015-08-06 00:00:00 7 5 217
2015-08-07 00:00:00 7 6 218
2015-08-08 00:00:00 7 7 219
2015-08-09 00:00:00 7 8 220
2015-08-10 00:00:00 7 9 221
2015-08-11 00:00:00 7 10 222
2015-08-12 00:00:00 7 11 223
2015-08-13 00:00:00 7 12 224
2015-08-14 00:00:00 7 13 225
2015-08-15 00:00:00 7 14 226
2015-08-16 00:00:00 7 15 227
2015-08-17 00:00:00 7 16 228
2015-08-18 00:00:00 7 17 229
2015-08-19 00:00:00 7 18 230
2015-08-20 00:00:00 7 19 231
2015-08-21 00:00:00 7 20 232
2015-08-22 00:00:00 7 21 233
2015-08-23 00:00:00 7 22 234
2015-08-24 00:00:00 7 23 235
2015-08-25 00:00:00 7 24 236
2015-08-26 00:00:00 7 25 237
2015-08-27 00:00:00 7 26 238
2015-08-28 00:00:00 7 27 239
2015-08-29 00:00:00 7 28 240
2015-08-30 00:00:00 7 29 241
2015-08-31 00:00:00 7 30 242
2015-09-01 00:00:00 8 0 243
2015-09-02 00:00:00 8 1 244
2015-09-03 00:00:00 8 2 245
2015-09-04 00:00:00 8 3 246
2015-09-05 00:00:00 8 4 247
2015-09-06 00:00:00 8 5 248
2015-09-07 00:00:00 8 6 249
2015-09-08 00:00:00 8 7 250
2015-09-09 00:00:00 8 8 251
2015-09-10 00:00:00 8 9 252
2015-09-11 00:00:00 8 10 253
2015-09-12 00:00:00 8 11 254
2015-09-13 00:00:00 8 12 255
2015-09-14 00:00:00 8 13 256
2015-09-15 00:00:00 8 14 257
2015-09-16 00:00:00 8 15 258
2015-09-17 00:00:00 8 16 259
2015-09-18 00:00:00 8 17 260
2015-09-19 00:00:00 8 18 261
2015-09-20 00:00:00 8 19 262
2015-09-21 00:00:00 8 20 263
2015-09-22 00:00:00 8 21 264
2015-09-23 00:00:00 8 22 265
2015-09-24 00:00:00 8 23 266
2015-09-25 00:00:00 8 24 267
2015-09-26 00:00:00 8 25 268
2015-09-27 00:00:00 8 26 269
2015-09-28 00:00:00 8 27 270
2015-09-29 00:00:00 8 28 271
2015-09-30 00:00:00 8 29 272
2015-10-01 00:00:00 9 0 273
2015-10-02 00:00:00 9 1 274
2015-10-03 00:00:00 9 2 275
2015-10-04 00:00:00 9 3 276
2015-10-05 00:00:00 9 4 277
2015-10-06 00:00:00 9 5 278
2015-10-07 00:00:00 9 6 279
2015-10-08 00:00:00 9 7 280
2015-10-09 00:00:00 9 8 281
2015-10-10 00:00:00 9 9 282
2015-10-11 00:00:00 9 10 283
2015-10-12 00:00:00 9 11 284
2015-10-13 00:00:00 9 12 285
2015-10-14 00:00:00 9 13 286
2015-10-15 00:00:00 9 14 287
2015-10-16 00:00:00 9 15 288
2015-10-17 00:00:00 9 16 289

2015-10-18 00:00:00 9 17 290
2015-10-19 00:00:00 9 18 291
2015-10-20 00:00:00 9 19 292
2015-10-21 00:00:00 9 20 293
2015-10-22 00:00:00 9 21 294
2015-10-23 00:00:00 9 22 295
2015-10-24 00:00:00 9 23 296
2015-10-25 00:00:00 9 24 297
2015-10-26 00:00:00 9 25 298
2015-10-27 00:00:00 9 26 299
2015-10-28 00:00:00 9 27 300
2015-10-29 00:00:00 9 28 301
2015-10-30 00:00:00 9 29 302
2015-10-31 00:00:00 9 30 303
2015-11-01 00:00:00 10 0 304
2015-11-02 00:00:00 10 1 305
2015-11-03 00:00:00 10 2 306
2015-11-04 00:00:00 10 3 307
2015-11-05 00:00:00 10 4 308
2015-11-06 00:00:00 10 5 309
2015-11-07 00:00:00 10 6 310
2015-11-08 00:00:00 10 7 311
2015-11-09 00:00:00 10 8 312
2015-11-10 00:00:00 10 9 313
2015-11-11 00:00:00 10 10 314
2015-11-12 00:00:00 10 11 315
2015-11-13 00:00:00 10 12 316
2015-11-14 00:00:00 10 13 317
2015-11-15 00:00:00 10 14 318
2015-11-16 00:00:00 10 15 319
2015-11-17 00:00:00 10 16 320
2015-11-18 00:00:00 10 17 321
2015-11-19 00:00:00 10 18 322
2015-11-20 00:00:00 10 19 323
2015-11-21 00:00:00 10 20 324
2015-11-22 00:00:00 10 21 325
2015-11-23 00:00:00 10 22 326
2015-11-24 00:00:00 10 23 327
2015-11-25 00:00:00 10 24 328
2015-11-26 00:00:00 10 25 329
2015-11-27 00:00:00 10 26 330
2015-11-28 00:00:00 10 27 331
2015-11-29 00:00:00 10 28 332
2015-11-30 00:00:00 10 29 333
2015-12-01 00:00:00 11 0 334
2015-12-02 00:00:00 11 1 335
2015-12-03 00:00:00 11 2 336
2015-12-04 00:00:00 11 3 337
2015-12-05 00:00:00 11 4 338
2015-12-06 00:00:00 11 5 339
2015-12-07 00:00:00 11 6 340
2015-12-08 00:00:00 11 7 341
2015-12-09 00:00:00 11 8 342
2015-12-10 00:00:00 11 9 343
2015-12-11 00:00:00 11 10 344
2015-12-12 00:00:00 11 11 345
2015-12-13 00:00:00 11 12 346
2015-12-14 00:00:00 11 13 347
2015-12-15 00:00:00 11 14 348
2015-12-16 00:00:00 11 15 349
2015-12-17 00:00:00 11 16 350
2015-12-18 00:00:00 11 17 351
2015-12-19 00:00:00 11 18 352
2015-12-20 00:00:00 11 19 353
2015-12-21 00:00:00 11 20 354
2015-12-22 00:00:00 11 21 355
2015-12-23 00:00:00 11 22 356
2015-12-24 00:00:00 11 23 357
2015-12-25 00:00:00 11 24 358
2015-12-26 00:00:00 11 25 359
2015-12-27 00:00:00 11 26 360
2015-12-28 00:00:00 11 27 361
2015-12-29 00:00:00 11 28 362
2015-12-30 00:00:00 11 29 363
2015-12-31 00:00:00 11 30 364
[[-3.97610219e-06 -4.67849303e-06  9.05510027e-07 ...  2.40920165e-08
  -6.84342177e-06 -6.18195560e-08]
 [ 4.37594266e-07  6.76775656e-06  2.05116717e-06 ... -4.12565987e-05
   1.68561650e-07  1.75619983e-05]
 [ 3.53752531e-07  2.49109017e-07  5.22414617e-07 ...  1.02939131e-06
   3.61967087e-07  5.51870651e-07]
 ...
 [ 0.00000000e+00  1.29908360e-07 -1.45385500e-07 ... -8.61772989e-08
   1.49797508e-06  9.06465370e-10]
 [ 7.08120375e-08 -6.42534701e-09  2.32620783e-07 ... -1.13763192e-06
   6.98533290e-07  1.32231227e-08]
 [ 5.33757441e-09 -2.41337172e-07  2.19645363e-07 ... -1.37159928e-06
  -3.38088058e-06 -3.16942365e-07]]

In [40]:
f = open(markstro_param_path + 'jh_coef_hru.csv', "w")

In [41]:
f.write("$id,jh_coef_hru\n")

16

In [42]:
# The indexes being written are in the order of the values in the tmin ncf files. Once those are available, these will
# need to be reordered.

for jj in range(nhru):
    f.write(str(jj+1) + "," + str(jh_coef_hru[jj]) + '\n')

KeyError: 0

In [ ]:
f.close()